body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  margin:0px;
  padding:0px;
  min-width: fit-content;
}

body.dark {
  background-color: #242424;
}

.mainbox {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    width: 650px;
    padding: 20px;
    margin: 0px;
    margin-right:auto;
    margin-left: auto;
  }

  

  .mainbox-content {
    display: flex;
    align-items: center;
  }
  .toggle-button {
    margin-left: 10px;
  }

  
  .App.dark {
    background-color: #242424;
    color: #ffffff;
  }

  .App.dark h1,
  .App.dark h2 {
    color: #90c0ff;
  }

  .App.dark .pic-insta {
    color: #cacaca;
  }

  .App.dark .title,
  .App.dark .ability,
  .App.dark .grade {
    color: #ffffff;
  }

  section {
    margin-bottom:24px;
    text-align: left;
  }

  h1{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin:0px;
    padding:0px;
    font-size:50px;
    font-weight: bold;
    margin-top: 50px;
    text-align: left;
  }

  h2 {
    margin:0px;
    padding:0px;
    font-size:25px;
    font-weight: bold;
    color:#90c0ff;
    font-weight: 400;
    margin-bottom: 16px;
    border-bottom: 3px solid #72AFFF;
    padding-bottom: 5px;
  }

  .pic-insta{
    font-size:11px;
    font-weight: 300;
    color: #282828;
    float: right;
  }

  .myface{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    float: right;
    margin-top: 40px;
  }

  .site{
    text-align: left;
  }

  .site-img{
    width: 40px;
    height: 40px;
    float: right;
    margin: 6px;
    border-radius: 30%;
  }

  .lang {
    overflow: hidden;
    margin-bottom: 4px;
    }

  .title{
    line-height: 15px;
    font-size: 15px;
    font-weight: bold;
    color: #404040;
    margin-bottom: 20px;
    margin-top: 5px;
    text-align: left;
  }
  
  .ability{
    font-size: 13px;
    font-weight: 500;
    color:#3a3a3a;
    padding-left:16px;
  }

  .grade{
    font-size:12px;
    font-weight: 300;
    color: #282828;
    float: right;
  }